set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



/* Function			: Posting Of Estimation 	*/
/* Author 			: Rahid				*/
/*	Date			: 16 Feb 2009			*/
ALTER             PROCEDURE [mgr].[xpl_gen_cogs_estimation_val_method]
  	@rt_entity_cd 		varchar (4),
   	@rt_project_no	 	varchar (20),
	@rt_estimate_no	 	varchar (10),
	@rt_cost_cd	 		varchar (20),
	@rt_activity_cd	 	varchar (6),
	@rt_cost_alloc_type 	varchar (1),
	@rt_cost_est_amt	numeric (21,2),
  	@rt_userid        	varchar (10)
AS
DECLARE @f_audit_date		datetime
DECLARE @f_lot_fetch		numeric (12,0)
DECLARE @f_cluster_cd		varchar (10)
DECLARE @f_property_cd		varchar (6)
DECLARE @f_lot_no		varchar (15)
DECLARE @f_lot_land_area	numeric (10,2)
DECLARE @f_lot_extra_area	numeric (10,2)
DECLARE @f_prev_exp		varchar (255)
DECLARE @f_prev_est_amt		numeric (21,2)
DECLARE @f_est_amt		numeric (21,2)
DECLARE @f_net_eff_area		numeric (10,2)
DECLARE @f_count_lot		numeric (10,2)
DECLARE @f_sr_acc_est_amt	numeric (21,2)
DECLARE @f_sr_acc_land		numeric (21,2)
DECLARE @f_text				varchar (255)

SELECT 	@f_audit_date = GetDate()

DELETE 
  FROM mgr.pkp_pl_cogs_lot
 WHERE entity_cd   	= @rt_entity_cd
   AND project_no  	= @rt_project_no
   AND estimate_no  = @rt_estimate_no
   AND activity_cd  = @rt_activity_cd
   AND cost_cd  	= @rt_cost_cd
   AND sr_acc_date 	IS NULL

SELECT @f_sr_acc_est_amt = SUM(estimate_amt),
		@f_sr_acc_land = SUM(mgr.cf_property.land_area)
  FROM mgr.pkp_pl_cogs_lot,
		mgr.cf_property
 WHERE mgr.pkp_pl_cogs_lot.entity_cd   	= mgr.cf_property.entity_cd
   AND mgr.pkp_pl_cogs_lot.project_no   = mgr.cf_property.project_no
   AND mgr.pkp_pl_cogs_lot.cluster_cd  	= mgr.cf_property.cluster_cd
   AND mgr.pkp_pl_cogs_lot.property_cd 	= mgr.cf_property.property_cd
   AND mgr.pkp_pl_cogs_lot.entity_cd   	= @rt_entity_cd
   AND mgr.pkp_pl_cogs_lot.project_no  	= @rt_project_no
   AND mgr.pkp_pl_cogs_lot.estimate_no  = @rt_estimate_no
   AND mgr.pkp_pl_cogs_lot.activity_cd  = @rt_activity_cd
   AND mgr.pkp_pl_cogs_lot.cost_cd  	= @rt_cost_cd
   AND mgr.pkp_pl_cogs_lot.sr_acc_date 	IS NOT NULL

IF @f_sr_acc_est_amt IS NULL
	SET @f_sr_acc_est_amt = 0

-- Jika Cost Allocation 1
IF @rt_cost_alloc_type = '1' OR @rt_cost_alloc_type = '9'
BEGIN
	SELECT @f_net_eff_area = ISNULL(total_area,0) -
							 ( ISNULL(public_area,0) +
							   ISNULL(social_area,0) +
							   ISNULL(other_profit_area,0) )
	  FROM mgr.pl_project
	 WHERE mgr.pl_project.entity_cd = @rt_entity_cd
	   AND mgr.pl_project.project_no= @rt_project_no
	
	 SELECT @f_count_lot = COUNT(*)
	   FROM mgr.pm_lot a,
			mgr.cf_property b
	  WHERE a.entity_cd   	= b.entity_cd
	    AND a.project_no  	= b.project_no
	    AND a.cluster_cd  	= b.cluster_cd
	    AND a.property_cd  	= b.property_cd
	    AND a.entity_cd   	= @rt_entity_cd
	    AND a.project_no  	= @rt_project_no
		AND a.lot_no NOT IN ( SELECT lot_no
								FROM mgr.pkp_pl_cogs_lot
							   WHERE entity_cd   = @rt_entity_cd
								 AND project_no  = @rt_project_no
								 AND estimate_no = @rt_estimate_no
								 AND activity_cd = @rt_activity_cd
								 AND cost_cd  	 = @rt_cost_cd
								 AND cluster_cd	 = a.cluster_cd
								 AND property_cd = a.property_cd
								 AND sr_acc_date IS NOT NULL )
	
	DECLARE cursor_lot CURSOR FOR
	 SELECT a.cluster_cd,	a.property_cd,
			a.lot_no,	b.land_area
	   FROM mgr.pm_lot a,
		mgr.cf_property b
	  WHERE a.entity_cd   	= b.entity_cd
	    AND a.project_no  	= b.project_no
	    AND a.cluster_cd  	= b.cluster_cd
	    AND a.property_cd  	= b.property_cd
	    AND a.entity_cd   	= @rt_entity_cd
	    AND a.project_no  	= @rt_project_no
		AND a.lot_no NOT IN ( SELECT lot_no
								FROM mgr.pkp_pl_cogs_lot
							   WHERE entity_cd   = @rt_entity_cd
								 AND project_no  = @rt_project_no
								 AND estimate_no = @rt_estimate_no
								 AND activity_cd = @rt_activity_cd
								 AND cost_cd  	 = @rt_cost_cd
								 AND cluster_cd	 = a.cluster_cd
								 AND property_cd = a.property_cd
								 AND sr_acc_date IS NOT NULL )
	ORDER BY a.cluster_cd,	a.property_cd,
		 a.lot_no
END

-- Jika Cost Allocation 2
IF @rt_cost_alloc_type = '2'
BEGIN
	SELECT @f_net_eff_area = SUM(ISNULL(total_area,0))
	  FROM mgr.pl_cluster
	 WHERE mgr.pl_cluster.entity_cd = @rt_entity_cd
	   AND mgr.pl_cluster.project_no= @rt_project_no
	   AND mgr.pl_cluster.cluster_cd IN ( SELECT cluster_cd
											FROM mgr.pl_costcode_cluster
										   WHERE entity_cd 	= mgr.pl_cluster.entity_cd
											 AND project_no	= mgr.pl_cluster.project_no
											 AND cost_cd	= @rt_cost_cd )

	DECLARE cursor_lot CURSOR FOR
	 SELECT a.cluster_cd,	a.property_cd,
			a.lot_no,	b.land_area
	   FROM mgr.pm_lot a,
			mgr.cf_property b
	  WHERE a.entity_cd   	= b.entity_cd
	    AND a.project_no  	= b.project_no
	    AND a.cluster_cd  	= b.cluster_cd
	    AND a.property_cd  	= b.property_cd
	    AND a.entity_cd   	= @rt_entity_cd
	    AND a.project_no  	= @rt_project_no
	    AND a.cluster_cd	IN (  SELECT cluster_cd
									FROM mgr.pl_costcode_cluster
								   WHERE entity_cd 	= a.entity_cd
									 AND project_no	= a.project_no
									 AND cost_cd	= @rt_cost_cd )
		AND a.lot_no NOT IN ( SELECT lot_no
								FROM mgr.pkp_pl_cogs_lot
							   WHERE entity_cd   = @rt_entity_cd
								 AND project_no  = @rt_project_no
								 AND estimate_no = @rt_estimate_no
								 AND activity_cd = @rt_activity_cd
								 AND cost_cd  	 = @rt_cost_cd
								 AND cluster_cd	 = a.cluster_cd
								 AND property_cd = a.property_cd
								 AND sr_acc_date IS NOT NULL )
	ORDER BY a.cluster_cd,	a.property_cd,
		 a.lot_no
END

-- Jika Cost Allocation 3
IF @rt_cost_alloc_type = '3'
BEGIN
	SELECT @f_net_eff_area = SUM( ISNULL(planned_qty,0) * ISNULL(land_area,0) )
	  FROM mgr.cf_property
	 WHERE mgr.cf_property.entity_cd = @rt_entity_cd
	   AND mgr.cf_property.project_no= @rt_project_no
	   AND mgr.cf_property.property_cd IN ( SELECT property_cd
											  FROM mgr.pl_costcode_property_type y,
													mgr.pl_costcode_cluster z
											 WHERE y.entity_cd 	= z.entity_cd
											   AND y.project_no	= z.project_no
											   AND y.cost_cd	= z.cost_cd
											   AND y.cluster_cd	= z.cluster_cd
											   AND y.entity_cd 	= mgr.cf_property.entity_cd
											   AND y.project_no	= mgr.cf_property.project_no
											   AND y.cluster_cd	= mgr.cf_property.cluster_cd
											   AND y.cost_cd	= @rt_cost_cd )

	DECLARE cursor_lot CURSOR FOR
	 SELECT a.cluster_cd,	a.property_cd,
			a.lot_no,	b.land_area
	   FROM mgr.pm_lot a,
			mgr.cf_property b
	  WHERE a.entity_cd   	= b.entity_cd
	    AND a.project_no  	= b.project_no
	    AND a.cluster_cd  	= b.cluster_cd
	    AND a.property_cd  	= b.property_cd
	    AND a.entity_cd   	= @rt_entity_cd
	    AND a.project_no  	= @rt_project_no
	    AND a.property_cd	IN ( 	SELECT property_cd
									  FROM mgr.pl_costcode_property_type y,
											mgr.pl_costcode_cluster z
									 WHERE y.entity_cd 	= z.entity_cd
									   AND y.project_no	= z.project_no
									   AND y.cost_cd	= z.cost_cd
									   AND y.cluster_cd	= z.cluster_cd
									   AND y.entity_cd 	= a.entity_cd
									   AND y.project_no	= a.project_no
									   AND y.cluster_cd	= a.cluster_cd
									   AND y.cost_cd	= @rt_cost_cd )
		AND a.lot_no NOT IN ( SELECT lot_no
								FROM mgr.pkp_pl_cogs_lot
							   WHERE entity_cd   = @rt_entity_cd
								 AND project_no  = @rt_project_no
								 AND estimate_no = @rt_estimate_no
								 AND activity_cd = @rt_activity_cd
								 AND cost_cd  	 = @rt_cost_cd
								 AND cluster_cd	 = a.cluster_cd
								 AND property_cd = a.property_cd
								 AND sr_acc_date IS NOT NULL )
	ORDER BY a.cluster_cd,	a.property_cd,
		 a.lot_no
END

-- Jika Cost Allocation 4
IF @rt_cost_alloc_type = '4'
BEGIN
	SELECT @f_net_eff_area = SUM( area )
	  FROM mgr.pm_level
	 WHERE mgr.pm_level.entity_cd = @rt_entity_cd
	   AND mgr.pm_level.project_no= @rt_project_no
	   AND mgr.pm_level.level_no IN ( 	SELECT level_no
										  FROM mgr.pl_costcode_level y,
												mgr.pl_costcode_cluster z
										 WHERE y.entity_cd 	= z.entity_cd
										   AND y.project_no	= z.project_no
										   AND y.cost_cd	= z.cost_cd
										   AND y.cluster_cd	= z.cluster_cd
										   AND y.entity_cd 	= mgr.pm_level.entity_cd
										   AND y.project_no	= mgr.pm_level.project_no
										   AND y.cluster_cd	= mgr.pm_level.cluster_cd
										   AND y.cost_cd	= @rt_cost_cd )

	DECLARE cursor_lot CURSOR FOR
	 SELECT a.cluster_cd,	a.property_cd,
			a.lot_no,	b.land_area
	   FROM mgr.pm_lot a,
			mgr.cf_property b
	  WHERE a.entity_cd   	= b.entity_cd
	    AND a.project_no  	= b.project_no
	    AND a.cluster_cd  	= b.cluster_cd
	    AND a.property_cd  	= b.property_cd
	    AND a.entity_cd   	= @rt_entity_cd
	    AND a.project_no  	= @rt_project_no
	    AND a.level_no	IN ( 	SELECT level_no
								  FROM mgr.pl_costcode_level y,
										mgr.pl_costcode_cluster z
								 WHERE y.entity_cd 	= z.entity_cd
								   AND y.project_no	= z.project_no
								   AND y.cost_cd	= z.cost_cd
								   AND y.cluster_cd	= z.cluster_cd
								   AND y.entity_cd 	= a.entity_cd
								   AND y.project_no	= a.project_no
								   AND y.cluster_cd	= a.cluster_cd
								   AND y.cost_cd	= @rt_cost_cd ) 
		AND a.lot_no NOT IN ( SELECT lot_no
								FROM mgr.pkp_pl_cogs_lot
							   WHERE entity_cd   = @rt_entity_cd
								 AND project_no  = @rt_project_no
								 AND estimate_no = @rt_estimate_no
								 AND activity_cd = @rt_activity_cd
								 AND cost_cd  	 = @rt_cost_cd
								 AND cluster_cd	 = a.cluster_cd
								 AND property_cd = a.property_cd
								 AND sr_acc_date IS NOT NULL )
	ORDER BY a.cluster_cd,	a.property_cd,
			a.lot_no
END

OPEN cursor_lot
SELECT @f_lot_fetch = 0
WHILE (@f_lot_fetch <> -1)
BEGIN
	FETCH NEXT FROM cursor_lot
    INTO 	@f_cluster_cd,	@f_property_cd,
			@f_lot_no,	@f_lot_land_area
    SELECT @f_lot_fetch = @@FETCH_STATUS
	IF (@f_lot_fetch <> -1)
	BEGIN		
		-- Extra Area
		SELECT @f_lot_extra_area = ISNULL(a.extra_area,0)
		  FROM mgr.pm_lot a
		 WHERE a.entity_cd		= @rt_entity_cd
		   AND a.project_no 	= @rt_project_no
		   AND a.cluster_cd 	= @f_cluster_cd
		   AND a.property_cd 	= @f_property_cd
		   AND a.lot_no 		= @f_lot_no
		SET @f_lot_extra_area   = ISNULL(@f_lot_extra_area,0)
		
		IF @rt_cost_alloc_type = '9'
			SET @f_est_amt = (@rt_cost_est_amt - @f_sr_acc_est_amt) / @f_count_lot
		ELSE
			SET @f_est_amt = (@rt_cost_est_amt - ISNULL(@f_sr_acc_est_amt,0))  / (ISNULL(@f_net_eff_area,0) - ISNULL(@f_sr_acc_land,0)) * ( ISNULL(@f_lot_land_area,0) )

		SELECT TOP 1 
		       @f_prev_exp = a.expression,
		       @f_prev_est_amt = a.estimate_amt
		  FROM mgr.pkp_pl_cogs_lot a,
		       mgr.pkp_pl_cogs_hd b
		 WHERE a.entity_cd   	= b.entity_cd
    		   AND a.project_no  	= b.project_no
    		   AND a.estimate_no  	= b.estimate_no
    		   AND a.activity_cd  	= b.activity_cd
    		   AND a.entity_cd   	= @rt_entity_cd
    		   AND a.project_no  	= @rt_project_no
    		   AND a.estimate_no  	< @rt_estimate_no
    		   AND a.activity_cd  	= @rt_activity_cd
    		   AND a.cost_cd  		= @rt_cost_cd
    		   AND a.cluster_cd  	= @f_cluster_cd
    		   AND a.property_cd  	= @f_property_cd
    		   AND a.lot_no  	= @f_lot_no
		ORDER BY b.effective_date DESC, a.estimate_no DESC

		INSERT INTO mgr.pkp_pl_cogs_lot  
		(		entity_cd,		project_no,   
		        estimate_no, 	cost_cd,   
		        cluster_cd,  	property_cd,   
		        lot_no,   		activity_cd,   
		        previous_expression, previous_estimate_amt,   
		        expression,   	estimate_amt,   
		        audit_user, 	audit_date )  
		VALUES	
		(		@rt_entity_cd,	@rt_project_no,
				@rt_estimate_no,@rt_cost_cd,
				@f_cluster_cd,	@f_property_cd,
				@f_lot_no,		@rt_activity_cd,
				@f_prev_exp,	@f_prev_est_amt,
				null,			@f_est_amt,
				@rt_userid,		@f_audit_date )  ;
	END
END

DEALLOCATE cursor_lot






